body {
    background-color: #e5e6d5;
}


.tablainfo{
    width: 80%;
    margin: auto;
}

section{
    width: 20%;

    margin-left: auto;
    margin-right: auto;
}
.informacion{

    background-color: white;
}